---
import { getBlogPosts } from "../../pages/test/astra";

const recentPosts = await getBlogPosts({
  limit: 3,
  sortBy: "pubDate",
  sortOrder: "desc",
  filter: { draft: false },
});
---

<!-- Featured Blog Posts -->
<section aria-labelledby="blog-section-title">
  <header>
    <h2>Blog</h2>
    <p>Latest posts</p>
    <a href="/blog">View all posts</a>
  </header>

  <ul>
    {
      recentPosts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    padding: 4rem 0;
  }

  header {
    margin-bottom: 2rem;
  }

  h2 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
  }
</style>
