---
import { getBlogPosts } from "../../pages/test/astra";

const recentPosts = await getBlogPosts({
  limit: 3,
  sortBy: "pubDate",
  sortOrder: "desc",
  filter: { draft: false },
});
---

<!-- Featured Blog Posts -->
<section aria-labelledby="blog-section-title">
  <div class="container flow">
    <header>
      <h2 id="blog-section-title">Blog</h2>
      <p>Latest posts</p>
      <a href="/blog">View all posts</a>
    </header>

    <ul>
      {
        recentPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
