---

---

<header>
  <div class="container">
    <a href="/">kumak.dev</a>
    <details>
      <summary>Menu</summary>
      <nav>
        <ul>
          <li><a href="/layouts">Layouts</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/test">Test</a></li>
          <li><a href="/tags">Tags</a></li>
        </ul>
      </nav>
    </details>
  </div>
</header>
