/* Theme styles */
body {
  font-family: "Geist Sans", sans-serif;
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Light theme styles */
html:not(.dark) body {
  background-color: white;
  color: black;
}
