---
import { getCollection } from "astro:content";
import ArrowCard from "@components/ArrowCard.astro";
import BackToPrevious from "@components/navigation/BackToPrevious.astro";
import RootLayout from "@layouts/RootLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);

  // Get unique tags
  const tags = [...new Set(posts.flatMap((post) => post.data.tags || []))];

  // Create paths for each tag
  return tags.map((tag) => ({
    params: { id: tag },
    props: {
      posts: posts.filter((post) => post.data.tags?.includes(tag)),
    },
  }));
}

const { id } = Astro.params;
const { posts } = Astro.props;

// Sort posts by date, most recent first
const sortedPosts = posts.sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<RootLayout title={`Tag: ${id}`} description={`Posts with the tag: ${id}`}>
  <div data-pagefind-ignore>
    <BackToPrevious href="/tags"> All tags </BackToPrevious>
    <h1>
      Posts tagged with "{id}"
    </h1>
    <ul>
      {sortedPosts.map((post) => <ArrowCard entry={post} />)}
    </ul>
  </div>
</RootLayout>
