---
import { getCollection } from "astro:content";
import RootLayout from "@layouts/RootLayout.astro";

const posts = await getCollection("blog", ({ data }) => !data.draft);
const tags = [...new Set(posts.flatMap((post) => post.data.tags || []))].sort();
---

<RootLayout title="Tags" description="List of tags used.">
  <div>
    <h1>All Tags</h1>
    <div>
      {
        tags.map((tag) => (
          <a href={`/tags/${tag}`}>
            {tag} <span>({posts.filter((post) => post.data.tags?.includes(tag)).length})</span>
          </a>
        ))
      }
    </div>
  </div>
</RootLayout>
