---
import { SITE } from "@/consts";
import BackToPrevious from "@components/ui/BackToPrevious.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="404" description={SITE.DESCRIPTION}>
  <div class="error-container">
    <h4 class="error-title">404: Page not found</h4>
    <span class="error-action">
      <BackToPrevious href="/">Go to home page</BackToPrevious>
    </span>
  </div>
</Layout>

<style>
  .error-container {
    margin-top: 4rem;
    display: grid;
    place-items: center;
    gap: 0.75rem;
  }

  .error-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    animation: fadeIn 0.5s ease-in-out;
  }

  .error-action {
    animation: fadeIn 0.5s ease-in-out;
  }

  @media (prefers-color-scheme: dark) {
    .error-title {
      color: white;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
