---
import PageCard from "@/components/PageCard.astro";
import { HOME } from "@/consts";
import Layout from "@/layouts/Layout.astro";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <div class="flex min-h-screen items-center justify-center bg-[#F56565] p-4">
    <PageCard />
  </div>
</Layout>
