<header>
  <nav role="navigation" aria-label="main navigation">
    <slot />
  </nav>
</header>

<style>
  header {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  nav {
    container: nav / inline-size;
    display: flex;
    align-items: center;
    margin-inline: auto;
    justify-content: space-between;
    padding: var(--space-s);
    max-width: var(--max-section-width);
  }
</style>
