---
import Container from "@/components/Container.astro";
import Link from "@/components/Link.astro";
import Sociale from "@/components/Sociale.astro";
import { SITE } from "@/consts";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.TITLE}
        </div>
      </Link>
      <nav class="flex items-center gap-1 text-sm">
        <Sociale />
      </nav>
    </div>
  </Container>
</header>
