---
type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
};

const { href, external, underline = true, group = false, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class:list={[
    "inline-block text-current decoration-black/30 transition-colors duration-300 ease-in-out hover:text-black hover:decoration-black/50 focus-visible:text-black focus-visible:decoration-black/50 dark:decoration-white/30 dark:hover:text-white dark:hover:decoration-white/50 dark:focus-visible:text-white dark:focus-visible:decoration-white/50",
    { "underline underline-offset-[3px]": underline },
    { group: group },
  ]}
  {...rest}
>
  <slot />
</a>
