---
import type { Heading } from "./TableOfContents.astro";
import Link from "./navigation/Link.astro";

// https://kld.dev/building-table-of-contents/

const { heading } = Astro.props;
---

<li>
  <Link href={"#" + heading.slug} underline>
    {heading.text}
  </Link>
  {
    heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

<style>
  li {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0.375rem 1.5rem;
    font-size: 0.875rem;
  }

  ul {
    transform: translateX(0.75rem);
  }
</style>
