---
import { getCollection } from "astro:content";
import { PROJECTS } from "@/consts.ts";
import RootLayout from "@layouts/RootLayout.astro";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<RootLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <aside data-pagefind-ignore>
    <div>
      <div>Projects</div>
      <ul>
        {projects.map((project) => <li>{project.data.title}</li>)}
      </ul>
    </div>
  </aside>
</RootLayout>
